* {
  padding: 0;
  margin: 0;
}
header {
  height: 60px;     /*    150    */
  background-color: #0295ba;
  padding: 10px;
  position: relative;
  overflow: hidden;
  transition: all .5s linear;
}
header img {
  float: left;
}
header h3 {
  display: inline-block;
  text-align: center;
  margin-bottom: 10px;
  margin-left: 10px;
  color: #0058ff;
}
header p {
  margin-left: 15%;
  display: inline-block;
}
header p span {
  font-weight: bold;
  color: #2ad3fe;
}
header button {
  padding: 0;
  width: 50px;
  height: 50px;
  font-size: 30px;
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #0295ba;
  color: white;
  transform: rotate(90deg);
  line-height: 100%;
  text-align: center;
  border: none;
  border: .5px solid white;
}
header div {
  width: 23%;
  height: 80px;
  margin: 1px;
  display: inline-block;
  text-align: center;
}
header div img {
  display: inline-block;
  margin-left: 18%;
  margin-bottom: 4%;
}
header div a {
  color: white;
}
div {
  border: 2px dotted red;
  border-style: none;
  border-bottom-style: dotted;
  border-bottom-color: red;
}
label {
  display: inline-block;
  margin: 20px;
  margin-bottom: 5px;
  font-size: 25px;
  background-color: #90e7fd;
}
input {
  display: block;
  margin-left: 20px;
  padding: 10px;
  font-size: 25px;
}
button {
  display: block;
  margin: 5px auto;
  padding: 10px;
  font-size: 25px;
}
.hr {
  color: red;
  font-size: 2px;
}
